In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
import nltk
import sklearn


from tensorflow import keras
from keras.preprocessing.text import text_to_word_sequence
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import roc_auc_score
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [2]:
dataset = pd.read_csv('BBC News Train.csv')
test_set = pd.read_csv("BBC News Test.csv")

In [3]:
target_category = dataset['Category'].unique()
print(target_category)

['business' 'tech' 'politics' 'sport' 'entertainment']

In [4]:
dataset['categoryId'] = dataset['Category'].factorize()[0]
dataset.head()

,ArticleId,Text,Category,categoryId
0,1833,worldcom ex-boss launches defence lawyers defe...,business,0
1,154,german business confidence slides german busin...,business,0
2,1101,bbc poll indicates economic gloom citizens in ...,business,0
3,1976,lifestyle governs mobile choice faster bett...,tech,1
4,917,enron bosses in $168m payout eighteen former e...,business,0

In [5]:
category = dataset[["Category","categoryId"]].drop_duplicates().sort_values('categoryId')
category

        Category  categoryId
0       business           0
3           tech           1
5       politics           2
6          sport           3
7  entertainment           4

In [6]:
dataset.groupby('Category').categoryId.count()

Category
business         336
entertainment    273
politics         274
sport            346
tech             261
Name: categoryId, dtype: int64

In [7]:
text = dataset["Text"] 
text.head()

0    worldcom ex-boss launches defence lawyers defe...
1    german business confidence slides german busin...
2    bbc poll indicates economic gloom citizens in ...
3    lifestyle  governs mobile choice  faster  bett...
4    enron bosses in $168m payout eighteen former e...
Name: Text, dtype: object

In [8]:
category = dataset["Category"]
category.head()

0    business
1    business
2    business
3        tech
4    business
Name: Category, dtype: object

def preprocessDataset(train_text):
       
    #word tokenization using text-to-word-sequence
    train_text= str(train_text)
    tokenized_train_set = text_to_word_sequence(train_text,filters='!"#$%&()*+,-./:;<=>?@[\\]^_`{|}~\t\n',split=" ")
        
    #stop word removal
    stop_words = set(stopwords.words('english'))
    stopwordremove = [i for i in tokenized_train_set if not i in stop_words]
        
     
    #join words into sentence
    stopwordremove_text = ' '.join(stopwordremove)
        
        
    #remove numbers
    numberremove_text = ''.join(c for c in stopwordremove_text if not c.isdigit())
       
        
    #--Stemming--
    stemmer= PorterStemmer()

    stem_input=nltk.word_tokenize(numberremove_text)
    stem_text=' '.join([stemmer.stem(word) for word in stem_input])
        
        
    lemmatizer = WordNetLemmatizer()

    def get_wordnet_pos(word):
        """Map POS tag to first character lemmatize() accepts"""
        tag = nltk.pos_tag([word])[0][1][0].upper()
        tag_dict = {"J": wordnet.ADJ,
                "N": wordnet.NOUN,
                "V": wordnet.VERB,
                "R": wordnet.ADV}

        return tag_dict.get(tag, wordnet.NOUN)

    lem_input = nltk.word_tokenize(stem_text)
    lem_text= ' '.join([lemmatizer.lemmatize(w, get_wordnet_pos(w)) for w in lem_input])
    lem_text= ' '.apply(lambda x: ' '.join(x))    
    return lem_text

In [9]:
#dataset['Text'] = dataset['Text'].apply(preprocessDataset)
text = dataset['Text']
category = dataset['Category']
text.head()

0    worldcom ex-boss launches defence lawyers defe...
1    german business confidence slides german busin...
2    bbc poll indicates economic gloom citizens in ...
3    lifestyle  governs mobile choice  faster  bett...
4    enron bosses in $168m payout eighteen former e...
Name: Text, dtype: object

In [10]:
X_train, X_test, Y_train, Y_test = train_test_split(text,category, test_size = 0.3, random_state = 60,shuffle=True, stratify=category)

#print((X_train))
print(X_test)

1073    hi-tech posters guide commuters interactive po...
1062    have hackers recruited your pc  more than one ...
122     wenger dejected as arsenal slump arsenal manag...
487     takeover offer for sunderland fc bob murray  c...
1236    jamelia s return to the top r&b star jamelia h...
                              ...
765     doves soar to uk album summit manchester rock ...
186     telegraph newspapers axe 90 jobs the daily and...
1292    uganda bans vagina monologues uganda s authori...
1044    end bush  denial  blair tells eu tony blair is...
1190    rich pickings for hi-tech thieves viruses  tro...
Name: Text, Length: 447, dtype: object

In [11]:
from sklearn.feature_extraction.text import CountVectorizer

def dummy(doc):
    return doc

tfidf = CountVectorizer(
    tokenizer=dummy,
    preprocessor=dummy,
)

In [12]:
nb = Pipeline([('tfidf', TfidfVectorizer()),('clf', MultinomialNB()),])
nb.fit(X_train,Y_train)

test_predict = nb.predict(X_test)

train_accuracy = round(nb.score(X_train,Y_train)*100)
test_accuracy =round(accuracy_score(test_predict, Y_test)*100)


print("Naive Bayes Train Accuracy Score : {}% ".format(train_accuracy ))
print("Naive Bayes Test Accuracy Score  : {}% ".format(test_accuracy ))
print()
print(classification_report(test_predict, Y_test, target_names=target_category))

Naive Bayes Train Accuracy Score : 98%
Naive Bayes Test Accuracy Score  : 96%

               precision    recall  f1-score   support

     business       0.98      0.94      0.96       105
         tech       0.89      1.00      0.94        73
     politics       0.94      0.92      0.93        84
        sport       1.00      0.98      0.99       106
entertainment       0.95      0.94      0.94        79

     accuracy                           0.96       447
    macro avg       0.95      0.96      0.95       447
 weighted avg       0.96      0.96      0.96       447

In [13]:
#test_set['Text'] = test_set['Text'].apply(preprocessDataset)

test_id = test_set['ArticleId']
test_text = test_set['Text']
y_prdict = nb.predict(test_text)

In [14]:
y_prdict

array(['sport', 'tech', 'sport', 'business', 'sport', 'sport', 'politics',
       'politics', 'entertainment', 'business', 'business', 'tech',
       'politics', 'tech', 'entertainment', 'sport', 'politics', 'tech',
       'entertainment', 'sport', 'business', 'politics', 'sport',
       'business', 'politics', 'sport', 'business', 'sport', 'sport',
       'business', 'politics', 'tech', 'business', 'business', 'sport',
       'sport', 'sport', 'business', 'entertainment', 'business',
       'politics', 'politics', 'entertainment', 'tech', 'sport', 'tech',
       'entertainment', 'business', 'politics', 'business', 'politics',
       'business', 'business', 'business', 'tech', 'politics', 'tech',
       'sport', 'sport', 'tech', 'sport', 'entertainment', 'tech',
       'politics', 'business', 'entertainment', 'sport', 'tech', 'sport',
       'sport', 'tech', 'sport', 'business', 'politics', 'tech', 'sport',
       'tech', 'tech', 'tech', 'entertainment', 'politics', 'sport',
       'entertainment', 'sport', 'business', 'entertainment', 'business',
       'entertainment', 'business', 'tech', 'business', 'politics',
       'sport', 'tech', 'sport', 'sport', 'sport', 'sport', 'sport',
       'sport', 'politics', 'sport', 'politics', 'entertainment',
       'business', 'sport', 'politics', 'sport', 'politics',
       'entertainment', 'sport', 'business', 'entertainment', 'sport',
       'politics', 'sport', 'politics', 'sport', 'politics', 'business',
       'entertainment', 'business', 'entertainment', 'entertainment',
       'tech', 'sport', 'business', 'entertainment', 'business',
       'entertainment', 'business', 'politics', 'politics', 'tech',
       'business', 'business', 'politics', 'tech', 'entertainment',
       'sport', 'business', 'tech', 'sport', 'entertainment', 'politics',
       'sport', 'sport', 'entertainment', 'entertainment', 'tech',
       'business', 'tech', 'politics', 'entertainment', 'sport', 'sport',
       'sport', 'sport', 'entertainment', 'sport', 'business', 'tech',
       'business', 'tech', 'business', 'tech', 'sport', 'tech', 'tech',
       'politics', 'business', 'politics', 'business', 'business',
       'entertainment', 'politics', 'tech', 'business', 'business',
       'tech', 'sport', 'politics', 'sport', 'politics', 'tech', 'tech',
       'politics', 'business', 'politics', 'tech', 'politics', 'business',
       'entertainment', 'sport', 'tech', 'tech', 'business', 'tech',
       'politics', 'business', 'sport', 'politics', 'business',
       'entertainment', 'business', 'business', 'sport', 'tech',
       'business', 'sport', 'entertainment', 'entertainment', 'sport',
       'entertainment', 'sport', 'tech', 'politics', 'entertainment',
       'sport', 'entertainment', 'sport', 'entertainment', 'politics',
       'business', 'tech', 'entertainment', 'business', 'politics',
       'business', 'tech', 'business', 'sport', 'politics', 'politics',
       'politics', 'politics', 'sport', 'business', 'business',
       'politics', 'sport', 'politics', 'business', 'sport', 'tech',
       'business', 'politics', 'business', 'politics', 'business',
       'business', 'sport', 'tech', 'politics', 'business', 'tech',
       'entertainment', 'tech', 'sport', 'sport', 'tech', 'sport',
       'sport', 'sport', 'entertainment', 'sport', 'politics', 'sport',
       'business', 'sport', 'business', 'sport', 'business', 'sport',
       'entertainment', 'business', 'business', 'entertainment',
       'politics', 'business', 'sport', 'sport', 'tech', 'sport', 'sport',
       'entertainment', 'business', 'sport', 'tech', 'politics',
       'entertainment', 'business', 'business', 'politics', 'sport',
       'entertainment', 'politics', 'business', 'sport', 'sport', 'tech',
       'entertainment', 'sport', 'business', 'tech', 'business', 'sport',
       'politics', 'politics', 'entertainment', 'politics',
       'entertainment', 'politics', 'business', 'politics', 'sport',
       'business', 'sport', 'tech', 'entertainment', 'politics', 'sport',
       'politics', 'politics', 'business', 'politics', 'sport', 'tech',
       'politics', 'tech', 'tech', 'entertainment', 'politics', 'tech',
       'politics', 'business', 'politics', 'sport', 'tech',
       'entertainment', 'entertainment', 'business', 'sport', 'tech',
       'tech', 'entertainment', 'tech', 'business', 'sport',
       'entertainment', 'tech', 'business', 'politics', 'tech', 'tech',
       'politics', 'politics', 'sport', 'business', 'tech', 'sport',
       'politics', 'politics', 'business', 'tech', 'sport', 'politics',
       'business', 'politics', 'politics', 'tech', 'entertainment',
       'business', 'business', 'sport', 'sport', 'sport', 'tech', 'sport',
       'politics', 'tech', 'tech', 'politics', 'business', 'sport',
       'sport', 'entertainment', 'entertainment', 'sport', 'tech', 'tech',
       'sport', 'tech', 'entertainment', 'politics', 'tech', 'sport',
       'business', 'politics', 'entertainment', 'business', 'tech',
       'sport', 'politics', 'business', 'business', 'politics', 'tech',
       'sport', 'sport', 'business', 'tech', 'business', 'tech', 'sport',
       'sport', 'politics', 'business', 'tech', 'sport', 'politics',
       'business', 'tech', 'tech', 'politics', 'tech', 'business',
       'sport', 'business', 'entertainment', 'business', 'entertainment',
       'politics', 'entertainment', 'sport', 'business', 'politics',
       'business', 'sport', 'entertainment', 'business', 'entertainment',
       'entertainment', 'sport', 'tech', 'entertainment', 'business',
       'business', 'politics', 'entertainment', 'politics', 'politics',
       'sport', 'business', 'sport', 'politics', 'entertainment',
       'entertainment', 'business', 'business', 'sport', 'politics',
       'tech', 'business', 'politics', 'business', 'sport', 'sport',
       'politics', 'sport', 'tech', 'business', 'politics', 'sport',
       'politics', 'tech', 'business', 'politics', 'tech', 'politics',
       'politics', 'entertainment', 'tech', 'sport', 'sport', 'politics',
       'business', 'tech', 'politics', 'sport', 'sport', 'entertainment',
       'business', 'entertainment', 'entertainment', 'business',
       'politics', 'sport', 'business', 'tech', 'business', 'business',
       'politics', 'sport', 'business', 'sport', 'business', 'politics',
       'business', 'sport', 'politics', 'tech', 'sport', 'politics',
       'business', 'tech', 'politics', 'sport', 'politics',
       'entertainment', 'sport', 'politics', 'business', 'business',
       'business', 'tech', 'politics', 'politics', 'sport', 'business',
       'tech', 'tech', 'tech', 'sport', 'tech', 'politics', 'business',
       'business', 'sport', 'business', 'politics', 'business', 'tech',
       'tech', 'sport', 'tech', 'business', 'sport', 'business',
       'business', 'business', 'politics', 'politics', 'entertainment',
       'entertainment', 'entertainment', 'politics', 'tech', 'tech',
       'politics', 'entertainment', 'business', 'sport', 'sport',
       'politics', 'entertainment', 'politics', 'sport', 'business',
       'business', 'business', 'entertainment', 'tech', 'sport',
       'business', 'politics', 'politics', 'tech', 'politics', 'sport',
       'politics', 'business', 'tech', 'business', 'sport', 'sport',
       'tech', 'sport', 'entertainment', 'tech', 'politics', 'tech',
       'sport', 'business', 'business', 'tech', 'tech', 'politics',
       'entertainment', 'politics', 'business', 'business', 'tech',
       'business', 'business', 'business', 'sport', 'entertainment',
       'business', 'sport', 'business', 'sport', 'tech', 'business',
       'politics', 'sport', 'business', 'sport', 'sport', 'entertainment',
       'politics', 'tech', 'sport', 'business', 'sport', 'business',
       'sport', 'sport', 'politics', 'tech', 'business', 'tech',
       'business', 'sport', 'tech', 'business', 'entertainment',
       'business', 'entertainment', 'sport', 'tech', 'business',
       'business', 'business', 'politics', 'sport', 'entertainment',
       'tech', 'business', 'sport', 'entertainment', 'business',
       'entertainment', 'business', 'politics', 'sport', 'sport',
       'business', 'tech', 'sport', 'business', 'business', 'business',
       'business', 'business', 'entertainment', 'tech', 'sport',
       'politics', 'tech', 'politics', 'tech', 'sport', 'tech',
       'entertainment', 'business', 'business', 'politics', 'politics',
       'sport', 'sport', 'sport', 'entertainment', 'tech', 'politics',
       'entertainment', 'sport', 'sport', 'politics', 'tech', 'politics',
       'entertainment', 'sport', 'entertainment', 'sport', 'tech', 'tech',
       'sport', 'sport', 'business', 'tech', 'entertainment', 'business',
       'tech', 'business', 'business', 'sport', 'entertainment',
       'politics', 'entertainment', 'business', 'politics', 'business',
       'politics', 'sport', 'tech', 'tech', 'politics', 'entertainment',
       'business', 'tech', 'entertainment', 'entertainment', 'politics',
       'business', 'business', 'politics', 'politics', 'tech', 'sport',
       'business', 'entertainment', 'politics', 'business', 'politics'],
      dtype='<U13')

In [15]:
#submission = pd.DataFrame(test_id)
submission = pd.DataFrame(list(zip(test_id, y_prdict)),
               columns =['ArticleId', 'Category'])
submission.head(20)

    ArticleId       Category
0        1018          sport
1        1319           tech
2        1138          sport
3         459       business
4        1020          sport
5          51          sport
6        2025       politics
7        1479       politics
8          27  entertainment
9         397       business
10       1644       business
11        263           tech
12        765       politics
13       2134           tech
14        297  entertainment
15       1712          sport
16       1631       politics
17        942           tech
18       1549  entertainment
19        516          sport

In [16]:
data = np.array(['football'])
  
test_text = pd.Series(data)
#test_text = 'qpr keeper day heads for preston queens park rangers keeper chris day is set to join preston on a month s loan.  day has been displaced by the arrival of simon royce  who is in his second month on loan from charlton. qpr have also signed italian generoso rossi. r s manager ian holloway said:  some might say it s a risk as he can t be recalled during that month and simon royce can now be recalled by charlton.  but i have other irons in the fire. i have had a  yes  from a couple of others should i need them.   day s rangers contract expires in the summer. meanwhile  holloway is hoping to complete the signing of middlesbrough defender andy davies - either permanently or again on loan - before saturday s match at ipswich. davies impressed during a recent loan spell at loftus road. holloway is also chasing bristol city midfielder tom doherty.'
y_prdict = nb.predict(test_text)

In [22]:
y_prdict[0]

'sport'

In [18]:
import pickle

file = open('nb.pkl','wb')

pickle.dump(nb,file)

In [19]:
file.close()